@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;    
    transition: all 250ms ease-in-out;
}

body {
    color: #0C120C;
    background-color: #fffaff;
}

/* header */

#logo {
    font-size: 400%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    position: relative;
    top: -20%;
}

#logo:hover {
    top: -22.5%;
}

/* element to animate */

.spin-infinite {
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* animation */

@keyframes spin {
    from {transform: rotateZ(0)}
    to {transform: rotateZ(360deg)}
}

.active {
    font-weight: bold;
}

header div a {
    text-decoration: none;
    color: #0C120C;
}

#header-outer {
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#tabs-wrapper {
    height: 50px;
    width: 100%;
    background-color: #0C120C;
}

.tabs {
    margin-left: 35%;

}
.tabs li, a {
    margin: 0 25px;
    display: inline;
    text-decoration: none;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fffaff;
    line-height: 50px;
}

.tabs > li > a:hover {
    color: red;
    
}

/* body */

.main {
    display: flex;
    overflow: hidden;
}

#main-image {
    background: url(../images/business-meeting-to-be-productive.jpg) no-repeat center center;
    width: 40vw;
    aspect-ratio: 1.5;
    margin: 10%;
    border: solid .25px #0C120C;
}

.main-reason > h2 {
    font-weight: lighter;
    text-align: center;
    margin-bottom: 2.5%;
}

.main-reason {
    width: 40vw;
    aspect-ratio: 1.5;
    margin: 10%;
    position: relative;
    left: 20%;
    text-align: justify;
    font-size: 200%;
}

#main-reason-text {
    font-size: 22.5px;
    text-align: justify;
    line-height: 35px;
}

#socials {
    width: 275px;
    margin: 0 auto;
    position: relative;
    bottom: 12.5px;
}

.links {
    display: inline;
    color: #0C120C;
    font-size: 250%;
}

.links:hover {
    color: red;
}
/* footer */

footer {
    height: 50px;
    width: 100%;
    background-color: #0C120C;
    position: scroll;
    bottom: 0;    
}



footer > p {
    color: #fffaff;
    text-align: center;
    margin: 0 25px;
    line-height: 50px;
}