@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;    
    transition: all 250ms ease-in-out;
}

body {
    color: #0C120C;
    background-color: #fffaff;
}

/* header */

#logo {
    font-size: 400%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
    position: relative;
    top: -20%;
}

#logo:hover {
    top: -22.5%;
}

/* element to animate */

.spin-infinite {
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* animation */

@keyframes spin {
    from {transform: rotateZ(0)}
    to {transform: rotateZ(360deg)}
}

.active {
    font-weight: bold;
    background-color: #bec2c5;
    display: flex;
    width: 100%;
}

header div a {
    text-decoration: none;
    color: #0C120C;
}

#header-outer {
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#tabs-wrapper {
    height: 50px;
    width: 100%;
    background-color: #0C120C;
    
}

.tabs {
    margin: 0;
    display: flex;
    justify-content: center;

}
.tabs li, a {
    margin: 0 2.5%;
    display: inline;
    text-decoration: none;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fffaff;
    line-height: 50px;
}

.tabs > li > a:hover {
    color: red;
}

/* body */

.main {
    display: block;
}

#main-image {
    background: url(../images/business-meeting-to-be-productive.jpg) no-repeat center center;
    width: 99vw;
    height: 35em;
    margin: 5% 0;
}

hr {
    margin: 2.5% auto;
}

#contact-hr {
    margin: 2.5% auto;
    width: 25%;
}

.main-reason-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-reason {
    width: 75vw;
    height: 100%;
    margin: 0 0 10% 0;
    
}

#main-reason-text {
    font-size: 22.5px;
    text-align: left;
    line-height: 32.5px;
}

#socials {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 15px;
}

.links {
    color: #0C120C;
    font-size: 250%;
}

.links:hover {
    color: red;
}
/* footer */

footer {
    height: 50px;
    width: 100%;
    background-color: #0C120C;
    position: scroll;
    bottom: 0;    
}

footer > p {
    color: #fffaff;
    text-align: center;
    margin: 0 25px;
    line-height: 50px;
}

.contact-info {
    display: block;
    text-transform: lowercase;
    width: 20em;
    margin: 2% auto;
    color: #0C120C;
    position: relative;
    left: 1.5%;
    height: 25px;
    
}

.contact-info:hover {
    color: red;
}

.services {
    display: flex;
    margin: 5%;
    justify-content: center;
    position: relative;    
}

.service-left,
.service-right {
    width: 30em;
    height: 30em;
    position: relative;
}

.service-left {
        background: url('../images/Hays_Tech_General\ no\ BG\ 1000px.png') no-repeat center center;
    margin-right: 2.5%;
}    

.service-right {
    background: url('../images/Healthcare_Employee_Training_Blog.png') ;
    margin-left: 2.5%;
}


.service-title {
    color: #fffaff;
    background: #0C120C;
    
    position: absolute;
    bottom: 2.565em;
    
    padding-left: 5%;
    max-width: max-content;
    
    transform: scale(125%) translateX(25px);
}

.service-title::after {
    content: '';
    height: 5px;
    background: linear-gradient(90deg, magenta, red);
    display: block;
    position: relative;
    top: 10px;
    filter: blur(5px);
    z-index: -1;
}

